@font-face{	font-family: 'MuseoSans';
				src: url('../font/MuseoSans.otf') format('truetype');
			
				font-weight: normal;
				font-style: normal;
}
html, body {
    cursor: default;
    position:relative;
    min-height:100%;
        

    
}
body {  
    overflow: auto;
    font-family:MuseoSans,Arial,sans-serif;
    background: #fff;
    }
#container{
    width: 100%;
    min-height: 100%;
   
}
.header{
    width: 100%;
    height: 86px;
    background: rgba(25, 25, 25, 0.89);
    position: fixed;
    z-index: 100;
    
}
.headerWrap{
 width: 980px;
 margin: 0 auto;
 position: relative;
  height: 86px;
}
.topHeader{
    position: absolute;
    top: 10px;
    font-size: 34px;
     left: 24px;
    color: #fff;
}
.leftHeader{
    position: absolute;
    top: 50px;
    left: 24px;
    font-size: 24px;
    color: #fff;
}
.rightHeader{
    position: absolute;
    top: 50px;
    right: 24px;
    font-size: 24px;
    color: #fff;
}
.bottomHeader{
    position: absolute;
    bottom: 0;
    background: #ff7c30;
    height: 4px;
    right: 18px;
    width: 241px;
    
}

#content {
    
height: 100%;
position: absolute;
left: 228px;
right: 228px;
margin-top: 86px;

}
.wrap{
    min-width: 493px;
    max-width: 980px;
    margin: 0 auto;
    padding-bottom: 400px;
    padding-top: 100px;
    
    
}

.topH1{
      color: #353535;
    font-size: 34px;
    margin: 50px 0  37px 0;
    text-align: center;
    
    
}
.topBlockLine{
    height: 7px;
    position: relative;
    
}

.topBlockLeft{
    margin-top: 3px;
    background: #313131;
    height: 1px;
    width: 40%;
    float: left;
}
.topBlockCenter{
     background: #ff7c30;
    height: 7px;
    width: 20%;
     float: left;
}
.topBlockRight{
    background: #313131;
    height: 1px;
    width: 40%;
     float: left;
      margin-top: 3px;
}
.topH2{
    font-size: 29px;
    text-align: center;
    color: #353535;
    margin: 20px 0 20px 0;
}
.topP{
      color: #353535;
 font-size: 18px;
 text-align: center;

    
}
.divP{
    
}
.arrow{
    position: relative;
    left: 0;
    top: 55px;
    width: 30px;
    height: 30px;
    -webkit-transition: all 100ms  ease ;
    -moz-transition: all 100ms ease ;
    -o-transition: all 100ms  ease ;
    -ms-transition: all 100ms  ease ;
    transition: all 100ms  ease ;
    background: url("../images/index/bottom.png") no-repeat; 
    
}

.rotate{
transform: rotate(-90deg) ;
-webkit-transform: rotate(-90deg) ;
-moz-transform: rotate(-90deg) ;
-o-transform: rotate(-90deg) ;
-ms-transform: rotate(-90deg) ;
}
.mainP{
 color: #353535;
 font-size: 18px; 
 text-indent:35px; 
}
.newsWrap{
    height: 64px;
    overflow: hidden;
    padding: 0 0 0 50px;
    -webkit-transition: all 300ms  ease ;
    -moz-transition: all 300ms ease ;
    -o-transition: all 300ms  ease ;
    -ms-transition: all 300ms  ease ;
    transition: all 300ms  ease ;
    cursor: pointer;
}
.moreButton{
    width: 150px;
    padding: 5px 0;
    text-align: center;
    position: relative;
    right: 0;
    font-size: 14px;
    border: 1px solid #313131;
    cursor: pointer;
    float: right;
    margin-top: 16px;
    
}
.clear{
    clear: both;
}
.moreButton:hover{
    background: #f8f8f8;
}
.news{
    
}
.newsWrap:hover{
   /* background: #f8f8f8;*/
}
.newsP{
color: #353535;
 font-size: 18px; 
 text-indent:35px; 

}
.newsLine{
background: #313131;
height: 1px;
width: 100%;
margin: 20px 0;
}
.news:last-child .newsLine{
display: none;
}
.buttonAllNews{
padding: 10px 0px;
border: 1px solid #313131;
font-size: 16px;
text-align: center;
width: 260px;
margin: 0 auto;
cursor: pointer;
margin-top: 35px;
color: #313131;
   
    
}
.buttonAllNews:hover{
    background: #F8F8F8;
}
.answerWrap{
color: #353535;
 font-size: 18px; 
 
}
.question{
    font-weight: bold;
}
.answer{
  margin-bottom: 15px;  
}
.carusel{
    height: 430px;
}
.caruselWrap{
  
    overflow: hidden;
    float: left;
    height: 384px;
    margin: 30px 0;
}
.blockCar{
    width: 223px;
    height: 298px;
    display: inline-block;
    margin-right: 111px;
    vertical-align: top ;
    cursor: pointer;

    
}
.blockCar:hover .topBlock{
    background: #ff7c30;
    color: #fff;
}
.blockCar:hover .bottomBlock{
    background: #ff7c30;
    color: #fff;
}

.topBlock{
    width: 100%;
    background: #ddd;
    padding: 5px 10px;
    box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
font-size: 18px;
color: #515151;
text-align: center;
    -webkit-transition: all 80ms  linear ;
    -moz-transition: all 80ms linear ;
    -o-transition: all 80ms  linear ;
    -ms-transition: all 80ms  linear ;
    transition: all 80ms  linear ;
}
.selectedAdv{
 background: #ff7c30;
 color: #fff;   
}
.imgAdv{
    width: 100%;
    
}
.imgWrap{
 
   position: relative;
}
.imgWrap:hover .overlayImg{
    opacity: 0;
}
.overlayImg{
opacity: 0.2;
background: #FFF;
position: absolute;
width: 100%;
height: 100%;
 -webkit-transition: all 80ms  linear ;
    -moz-transition: all 80ms linear ;
    -o-transition: all 80ms  linear ;
    -ms-transition: all 80ms  linear ;
    transition: all 80ms  linear ;  
}
.bottomBlock{
    width: 140px;
    height: 6px;
    background: #ddd;
    margin: 14px auto;
    -webkit-transition: all 80ms  linear ;
    -moz-transition: all 80ms linear ;
    -o-transition: all 80ms  linear ;
    -ms-transition: all 80ms  linear ;
    transition: all 80ms  linear ;
    
}

.selectedBottom{
 background: #ff7c30;   
}
.bottomBlockText{
    width: 140px;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
}
.triangleLeftWrap{
    height: 298px;
    float: left;
    cursor: pointer;
    margin-top: 30px;
    
}
.triangleLeft {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-right: 25px solid #ddd;
    border-bottom: 16px solid transparent;
    float: left;
    margin: 146px 17px 0 0;
    -webkit-transition: all 80ms  linear ;
    -moz-transition: all 80ms linear ;
    -o-transition: all 80ms  linear ;
    -ms-transition: all 80ms  linear ;
    transition: all 80ms  linear ;
   
}

.triangleLeftWrap:hover .triangleLeft{
   border-right: 25px solid #ff7c30; 
}
.triangleRightWrap{
    height: 298px;
    float: left;
    cursor: pointer;
    margin-top: 30px;
    
}
.triangleRight {
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-left: 25px solid #ddd;
    border-bottom: 16px solid transparent;
    float: left;
    margin: 146px 0 0 17px;
    -webkit-transition: all 80ms  linear ;
    -moz-transition: all 80ms linear ;
    -o-transition: all 80ms  linear ;
    -ms-transition: all 80ms  linear ;
    transition: all 80ms  linear ;
   
}

.triangleRightWrap:hover .triangleRight{
   border-left: 25px solid #ff7c30; 
}


.caruselWrapInner{
     width: 3000px;
    height: 298px; 
     -webkit-transition: all 800ms  ease ;
    -moz-transition: all 800ms ease ;
    -o-transition: all 800ms  ease ;
    -ms-transition: all 800ms  ease ;
    transition: all 800ms  ease ;
}

.dis{
    cursor: default;
}
.dis:hover .triangleRight{
     border-left: 25px solid #ddd;
}
.dis2{
    cursor: default;
}
.dis2:hover .triangleLeft{
     border-right: 25px solid #ddd;
}
.curentLineWrap{
 /*   position: absolute;
left: 250px;
right: 250px;
*/
}
.leftCurrentLine{
    background: #313131;
}
.centerCurrentLine{
    width: 223px;
    background: #ff7c30;
    height: 5px;
    margin-left: 42px;
    position: relative;
    -webkit-transition: all 800ms  ease;
    -moz-transition: all 800ms ease;
    -o-transition: all 800ms  ease;
    -ms-transition: all 800ms  ease;
    transition: all 800ms  ease;
    
}
.triangleUp {
    width: 0;
    height: 0;
    position: absolute;
    left: 102px;
    bottom: 5px;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid #ff7c30;
}
.rightCurrentLine{
    background: #313131;
    
    
}







.textBlock{
    background: #eaeaea;
    color: #353535;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
 
}
#cont1,#cont2,#cont3,#cont4,#cont5{
   position: relative; 
}
#cont2{
  display: none;
}
#cont3{
  display: none;
}
#cont4{
 display: none;
}
#cont5{
 display: none;
}

.topCont{
    margin-top: 10px;
      font-weight: bold; 
}
.rightCont{
   position: absolute;
   right: 0;
   bottom: 0;
   font-weight: bold; 
}
.mainCont{
    
}
.contP{
    text-indent: 30px;
}
.contLeft{
    width: 10%;
float: left;
margin-top: 238px;
z-index: 100;
position: fixed;
/*
max-width: 250px;
min-width: 200px;
*/

}
.contRight{
    width: 10%;
 float: right;
 margin-top: 238px;
 z-index: 100;
position: fixed; 
right: 0;
/*max-width: 250px;
min-width: 200px; 
*/

}


.menuButton{
    width: 100%;
    border-right: 8px solid #ff7c30;
    background: #313131;
    color: #fff;
    font-size: 19px;
    height: 46px;
    text-align: right;
    padding-right: 20px;
    line-height: 2.5;
    margin-bottom: 20px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
   -webkit-transition: all 100ms  linear ;
    -moz-transition: all 100ms linear ;
    -o-transition: all 100ms  linear ;
    -ms-transition: all 100ms  linear ;
    transition: all 100ms  linear ;
    cursor: pointer;
}
.menuButton:hover{
     border-right: 8px solid #313131;
     background: #ff7c30;
      
}
.menuButtonRight{
    width: 100%;
    border-left: 8px solid #ff7c30;
    background: #313131;
    color: #fff;
    font-size: 19px;
    height: 46px;
    text-align: left;
    padding-left: 20px;
    line-height: 2.5;
    margin-bottom: 20px; 
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
   -webkit-transition: all 100ms  linear ;
    -moz-transition: all 100ms linear ;
    -o-transition: all 100ms  linear ;
    -ms-transition: all 100ms  linear ;
    transition: all 100ms  linear ;
    cursor: pointer;
}
/*
.menuButtonRight:hover{
     color: #1c1c1c;
     background: #ddd;
      
}
*/

.menuButtonRight:hover{
     border-left: 8px solid #313131;
     background: #ff7c30;
      
}

.menuActive{
 border-right: 8px solid #313131;
     background: #ff7c30;
    
}
.menuButtonRightActive{
     border-left: 8px solid #313131;
     background: #ff7c30;
}

.contLeftWrap{
max-width: 250px;
min-width: 200px; 
float: left;
}
.contRightWrap{
max-width: 250px;
min-width: 200px; 
float: right;
}

/*
@media screen and (min-width: 1200px) and (max-width:1460px) {
.carusel{
    width:auto;
    height: 430px;
    
}
.caruselWrap{
    width:92%;
    overflow: hidden;
    float: left;
    height: 384px;
    margin: 30px 0;
}
.blockCar{
    width: 223px;
    height: 298px;
    display: inline-block;
    margin-right: 6%;
    vertical-align: top ;
    cursor: pointer;

    
}

.caruselWrapInner{
     width: 200%;
    height: 298px; 
}

.triangleLeftWrap{
    height: 298px;
    float: left;
    cursor: pointer;
    width: 4%;
    
}
.triangleRightWrap{
    height: 298px;
    float: left;
    cursor: pointer;
    width: 4%;
}
}

*/
@media screen and (min-width: 0px) and (max-width:1170px) {
.mainP{
    font-size:14px;
    
}
.topH1{
font-size: 27px;  
}
.topH2{
  font-size: 21px;  
}
.textBlock{
     font-size:14px; 
}
.rightCont{
    position: relative;
}
.question{
    font-size: 14px;
}
.answer{
    font-size: 14px;
}
.contPhone{
   font-size: 26px; 
}
.contTextBottom{
   font-size: 27px; 
}
}

/******************************КОНТАКТЫ************************/
.wrapContacts{
    min-width: 493px;
    max-width: 980px;
    margin: 0 auto; 
    padding-top: 100px;

}

.contact{
padding-top: 60px;
width: 400px;
margin: 0 auto;
padding-bottom: 60px;
}
.contPhone{
    text-align: center;
    font-size: 31px;
}
.otherCont{
    text-align: center;
    font-size: 18px;

margin-top: 25px;
}
.otherCont2{
    text-align: center;
    font-size: 18px;

margin-top: 5px;
}
.contLine1{
   
    background: #ff7c30;
    height: 3px ;
    width: 481px;
    margin: 127px auto 109px auto;
}
.contTextBottom{
 font-size: 31px;
 text-align: center;   
}
.contLine2{
    position: relative;
   
    background: #ff7c30;
    height: 3px ;
    width: 445px;
    margin: 7px auto 20px auto;
}
.triangleDown{
    position: absolute;
    left: 213px;
    top: 2px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff7c30;
}

.yandex{
    width: 100%;
    height: 424px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    background: url("../images/index/map.jpg") center center no-repeat;
}







/********************Новости*****************************/
.newsPhp{
    min-width: 493px;
    max-width: 980px;
    margin: 0 auto;
    padding-bottom: 100px;
 
}
/*GoldCarrot Modul Style BEGIN*/

.textErrorWrong{    /*контейнер для вывода информации о правильности  или неправильности заполнения полей*/
font-size: 15px;
margin-left: 14px;
margin: 0 auto;
width: 222px;
height: 30px;
text-align: center;
display: block;
padding-right: 40px;
}


.ButtonActive{
width: 161px;
height: 43px;
border: 1px solid #666;
line-height: 2;
color: #FFF;
text-align: center;
font-size: 20px;
background: #E5087F;
margin: 56px 0 0 80px;
cursor: pointer;
    
}
.ButtonNoActive{
width: 161px;
height: 43px;
border: 1px solid #666;
line-height: 2;
color: #FFF;
text-align: center;
font-size: 20px;
background: #BBBBBB;

margin: 56px 0 0 80px;
   
}
.ButtonActive:hover{
    background: #F33698;
}
.ButtonNoActive:hover{
    background: #BBBBBB;
}

/* если необходимо поддтвердить валидность инпута   обводкой редактиируем  класссы внизу, елси ничего изменять ненужно оставляем их такимиже как ихсодный класс 
    ПРИМЕР:
   <p>Имя</p>
   <input id="nameFeedback" class="withoutCheck" onkeyup="validateInput('formFeedback','nameFeedback','textLong','nameFeedback')"/>
*/
.inputValidNormal{
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
    padding: 10px 20px;
    width: 282px;
    height: 23px;
    border: 1px solid #666;
    outline: none;
    float: left;
}
.inputValidYes{
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
    padding: 10px 20px;
    width: 282px;
    height: 23px;
    border: 1px solid #666;
    outline: none;
    float: left;
    border: 1px solid #4FCF2F;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(80, 230, 33, 0.2);
    box-shadow: 0px 0px 3px 0px rgba(54, 168, 18, 0.2);
}
.inputValidNo{
   border: 1px solid #E5087F;
   -webkit-box-shadow:  0px 0px 3px 0px rgba(229, 8, 127,0.2);
   box-shadow:  0px 0px 3px 0px rgba(229, 8, 127, 0.2);
}


/* если необходимо поддтвердить валидность  галочкой  или другим изображением  то используем ДИВ  с КЛАССОМ  iconYesNo СРАЗУ после инпута 
    ПРИМЕР:
   <p>Имя</p>
   <input id="nameFeedback" class="withoutCheck" onkeyup="validateInput('formFeedback','nameFeedback','textLong','nameFeedback')"/>
   <div class="iconYesNo"></div>
*/
.iconYesNo{
    position: relative;
 
width: 23px;
height: 20px;

left: 336px;
top: 14px;
}
.yes{
   background: url("../images/iconContacts.png")0 -27px no-repeat; 
}
 .no{
 background: url("../images/iconContacts.png")-23px -27px no-repeat;   
}

/*GoldCarrot Modul Style END*/
